@charset "utf-8";

/*统一设置*/
* {
	margin: 0;
	padding: 0;
}

ul,li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

/*高亮*/
.active {
	box-shadow: 0px 0px 5px 2px #FFA500;
}

#wrapper {
	width: 960px;
	height: 600px;
	margin: 0 auto;
	margin-top: 100px;
	border: 1px solid #000000;
	position: relative;
}

#wrapper #top {
	color: #FFFFFF;
	background: #613712;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
}

#wrapper #film {
	margin-left: 220px;
	margin-right: 180px;
}

#wrapper #film ul li {
	float: left;
	margin-top: 100px;
	margin-right: 40px;
}

#wrapper #film ul li img {
	display: block;
}

#wrapper #font {
	position: absolute;
	top: 330px;
	margin-left: 220px;
	margin-right: 220px;
	line-height: 20px;
	font-size: 12px;
}

#wrapper #font .item {
	display: none;
}

#wrapper #font ul li h3 {
	font-size: 24px;
	line-height: 40px;
}

#wrapper #font ul li h4 {
	color: green;
	font-size: 16px;
}

#wrapper #font ul li p:last-child{
	text-indent: 2em;
}