@charset "utf-8";

/*统一设置*/
* {
	margin: 0;
	padding: 0;
}

ul,li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #000000;
}

/*高亮提示*/
.active {
	background: #EEEEEE;
}

/*最外层容器*/
#container {
	width: 960px;
	margin: 50px auto;
	position: relative;
	text-align: center;
}

/*logo图片*/
#container img {
	display: block;
	width: 300px;
	margin: 0 auto;
}

/*搜索框容器*/
#search_wrapper {
	width: 637px;
	line-height: 38px;
	margin: 0 auto;
	position: relative;
}

/*搜索框*/
#searchInput {
	width: 521px;
	height: 20px;
	padding: 8px 7px;
	border: 1px solid #CCCCCC;
	font-size: 16px;
	float: left;
}

#searchInput:hover {
	border-color: #999999;
}

#searchInput:focus {
	background: #f3faff;
}

/*搜索按钮*/
#search_wrapper input[type=button] {
	border: none;
	outline: none;
	width: 100px;
	height: 38px;
	line-height: 38px;
	background: #3385ff;
	color: #FFFFFF;
	font-size: 16px;
	float: left;
	cursor: pointer;
}

#search_wrapper input[type=button]:hover {
	background: #2d76e3;
}

/*搜索提示*/
#searchTips {
	position: absolute;
	width: 535px;
	border: 1px solid #CCCCCC;
	top: 38px;font-size: 12px;
	text-align: left;
	background: #FFFFFF;
	display: none;
}

#searchTips li {
	padding-left: 5px;
	color: #778899;
	line-height: 30px;
	cursor: pointer;
}

#searchTips li:hover {
	background: #EEEEEE;
}

#searchTips li>a {
	float: right;
	margin-right: 5px;
	display: none;
}

#searchTips li:hover>a {
	display: block;
}